* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gold:#dce309;
    --black:#080808;
    --dark-gray:#515155;
    --light-gray: #7F8086; 
    --text:#FFFFFF;
}

/*global img guide */

img{
    max-width: 20%;
    max-height: 20%;
}


body {
    background-color: var(--light-gray);
}

.header {
    color: var(--text);
    background-color:var(--light-gray);
    padding: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: sticky;
    top: 0;

}

.header h1 {
    
    display: inline-block;
    margin: 0 auto;
    font-size: 50px;
    color: var(--red);
    border-style:solid;
}

.header div {
    color: var(--text);
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header ul{
    list-style-type:upper-roman;
    display: inline-block;
    margin-left: 25px;
    padding: 0, 0, 0, 50px;
}


a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* This is for the Hero Section. */
.hero {
    border-style: double;
    height: 50px;
    width:100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;

}

.about-me {
    align-items:center
}

.about-me h2 {
    font-size: 100%;
    align-self:center;
}
.about-me img {
    max-width: 50%;
    height: auto;
    align-self:center;
}

.my-previous-work {
    border-style: dashed;
    height: 50%;
}

.my-previous-work h2 {
    color: var(--red)
}

.my-previous-work article {
    background-size: cover;
    background-position: center;
}

.Contact-Section {
    padding: 50%
}
 

/*ul:nth-child(1) */


/*This moves the text to the right so the pic is on the left.
.float-left {
    float: left;                       
    margin-right: 25px;
}